
@using Logica;
@using Entidad;
@using Entidad.Enums;
@using DataP;
@using Backend.Models;
@model List<EArea>
@{ LPermiso LPermiso = LPermiso.Instancia.LPermiso;
                List<Permiso> HijosMenu = ViewBag.PermisosH;
                bool PermisoModificar = LPermiso.TienePermisoEspecifico(HijosMenu, AccionPermiso.Modificar);
                bool PermisoEliminar = LPermiso.TienePermisoEspecifico(HijosMenu, AccionPermiso.Eliminar);
                bool PermisoListar = LPermiso.TienePermisoEspecifico(HijosMenu, AccionPermiso.Listar);
                bool PermisoVer = LPermiso.TienePermisoEspecifico(HijosMenu, AccionPermiso.Ver); 
}

@section EtiquetaHead
{
    <link href="@Url.Content("~/Content/button/bttons.css")" rel="stylesheet" />
}

@{

                <table class="table table-striped table-bordered table-hover" id="sample_2">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NOMBRE</th>
                            <th>EMPRESA</th>
                            <th>ESTADO</th>
                            <th></th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @{ foreach (var p in Model)
                                        {
                            <tr>
                                <td>@p.AreaId</td>
                                <td>@p.Nombre</td>
                                <td>@p.Empresa.sNombre</td>
                                <td>
                                    @{ if (p.Estado == (int)Estado.Habilitado)
                                                        {
                                        <span class="label label-sm label-success"> Habilitado </span> }
                                                        else
                                                        {

                                        <span class="label label-sm label-danger"> Deshabilitado </span> } }
                                </td>

                                <td>
                                    @{ if (PermisoVer)
                                                        {
                                        <a class="btn btn-outline btn-circle  btn-sm  " href="@Url.Action("detalle", "Area", new { id = p.AreaId})">
                                            <i class="fa fa-eye"></i> Ver
                                        </a> } }
                                </td>
                                <td>
                                    @{ if (PermisoModificar)
                                                        {
                                        <a href="@Url.Action("Area", "Area", new { id = p.AreaId })" onclick="BloquearPantalla();" class="btn btn-outline btn-circle btn-sm">
                                            <i class="fa fa-edit"></i> Editar
                                        </a> } }
                                </td>
                                <td>
                                    @{ if (PermisoEliminar)
                                                        {
                                        <a onclick="changeestate('@p.Nombre','eliminar','eliminado','2','@p.AreaId' ,'@Url.Action("CambiarEstado", "Area")')" class="btn btn-outline btn-circle red btn-sm danger">
                                            <i class="fa fa-trash-o"></i> Eliminar
                                        </a> } }
                                </td>





                            </tr> } }
                    </tbody>
                </table> }