@using Logica;
@using Entidad;
@using Entidad.Enums;
@using DataP;
@using Backend.Models;
@model EArea
@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    LPermiso NPermiso = LPermiso.Instancia.LPermiso;
    List<Permiso> HijosMenu = ViewBag.PermisosH;

}
<div class="page-head">
    <div class="page-title">
        <h1>
            Área
            <small>@ViewBag.Title</small>
        </h1>
    </div>
</div>

<div class="page-bar margin-bottom-20">
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Inicio")">Principal</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "Area")">Area</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span class="active">@ViewBag.Title</span>
        </li>
    </ul>
</div>







<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">
                        Area # @Model.AreaId
                        <span class="hidden-xs">| @Model.Nombre</span>
                    </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="alert alert-danger" id="mensajeError" hidden>
                            @if (!string.IsNullOrEmpty(ViewBag.Mensaje))
                            {
                                <text>@ViewBag.Mensaje</text>
                            }
                        </div>
                    </div>
                </div>
                <div class="tabbable-line">
                    <ul class="nav nav-tabs nav-tabs-lg">
                        <li class="active">
                            <a href="#tab_1" data-toggle="tab"> Detalle </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="portlet yellow-crusta box">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-info-circle"></i>Datos del Area
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row static-info">
                                                <div class="col-md-5 name"> Area #: </div>
                                                <div class="col-md-7 value">
                                                    @Model.AreaId
                                                </div>
                                            </div>
                                            <div class="row static-info">
                                                <div class="col-md-5 name"> Nombre: </div>
                                                <div class="col-md-7 value"> @Model.Nombre </div>
                                            </div>
                                            <div class="row static-info">
                                                <div class="col-md-5 name"> Empresa: </div>
                                                <div class="col-md-7 value"> @Model.Empresa.sNombre </div>
                                            </div>

                                            <div class="row static-info">
                                                <div class="col-md-5 name"> Estado: </div>
                                                <div class="col-md-7 value">
                                                    @if (Model.Estado == (int)Estado.Habilitado)
                                                    {
                                                        <span class="label label-sm label-success"> Habilitado </span>
                                                    }
                                                    else if (Model.Estado == (int)Estado.Desabilitado)
                                                    {
                                                        <span class="label label-sm label-danger"> Deshabilitado </span>
                                                    }

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
