@using DataP;
@using Entidad;
@using Entidad.Enums;
@*@using BackEnd.Models;*@
@using Logica;

@model List<EFuncionario>
@{
    ViewBag.Title = "Colaboradores";
    Layout = "~/Views/Shared/_Layout.cshtml";
    LPermiso NPermiso = LPermiso.Instancia.LPermiso;
    List<Permiso> HijosMenu = ViewBag.PermisosH;
}
@section EtiquetaHead
{
    <link href="@Url.Content("~/Content/metronic/global/plugins/datatables/datatables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/metronic/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/metronic/global/scripts/datatable.js")"></script>
    <script src="@Url.Content("~/Content/metronic/global/plugins/datatables/datatables.min.js")"></script>
    <script src="@Url.Content("~/Content/metronic/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")"></script>
    <link href="@Url.Content("~/Content/button/bttons.css")" rel="stylesheet" />
    <script type="text/javascript">
        var TableDatatablesRowreorder = function () {

            var initTable1 = function () {
                var table = $('#sample_1');
                if (table == undefined) return;
                var oTable = table.dataTable({

                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No hay datos para mostrar",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Funcionarios",
                        "infoEmpty": "No hay datos para mostrar",
                        "infoFiltered": "(filtered1 from _MAX_ total Funcionarios)",
                        "lengthMenu": "_MENU_ funcionarios",
                        "search": "Buscar:",
                        "zeroRecords": "No se encontraron coincidencias"
                    },

                    // Or you can use remote translation file
                    //"language": {
                    //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
                    //},

                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                    buttons: [
                        //{ extend: 'print', className: 'btn dark btn-outline', exportOptions: { columns: [0, 1, 2, 3] } },
                        { extend: 'copy', className: 'btn purple btn-outline ', exportOptions: { columns: [0, 1, 2, 3] } },
                        { extend: 'pdf', className: 'btn green btn-outline', exportOptions: { columns: [0, 1, 2, 3] } },
                        { extend: 'csv', className: 'btn purple btn-outline ', exportOptions: { columns: [0, 1, 2, 3] } },
                        { extend: 'excel', className: 'btn purple btn-outline ', exportOptions: { columns: [0, 1, 2, 3] } }
                    ],
                    columnDefs: [
                        { orderable: false, targets: [3, 4, 5, 6] }
                    ],
                    // setup rowreorder extension: http://datatables.net/extensions/rowreorder/

                    "order": [
                        [0, 'asc']
                    ],

                    "lengthMenu": [
                        [5, 10, 15, 20, -1],
                        [5, 10, 15, 20, "Todos"] // change per page values here
                    ],
                    // set the initial value
                    "pageLength": 10,

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                    // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                    // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                    // So when dropdowns used the scrollable div should be removed.
                    //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {

                //main function to initiate the module
                init: function () {

                    if (!$().dataTable) {
                        return;
                    }
                    initTable1();
                }

            };

        }();

        $(document).ready(function () {
            TableDatatablesRowreorder.init();
            ListarFuncionarios();
        });

        function MostrarMensaje(msj) {
            showAlertError(msj);
        }

        function LimpiarMensaje(msj) {
            limpiarAlerta();
        }

        function ListarFuncionarios() {
            LimpiarMensaje();
            BloquearPantalla();
            var SelectorCriterio = $('input:radio[name=radioStatus]:checked').val();
            $.ajax({
                url: "@Url.Action("Listar", "colaborador")",
                cache: false,
                data: {
                    opcion: SelectorCriterio
                },
                type: "POST"
            }).complete(function () {
                DesbloquearPantalla();
            }).done(function (html) {
                $("#ContenedorLista").html(html);
                TableDatatablesRowreorder.init();
                DesbloquearPantalla();
            }).error(function () {
                DesbloquearPantalla();
            });
        }

        function habilitar(id, nombre, url) {
            $("#dialogoHabilitarMensaje").html('¿Está seguro que desea habilitar el colaborador "' + nombre + '" ?');
            $("#Habilitar").val(url);
            $("#ToastT").val('Habilitar colaborador');
            $("#ToastM").val('Se ha habilitado el colaborador "' + nombre + '" correctamente.');
            $("#Id").val(id);
            $('#dialogoHabilitarFuncionario').modal('show');
        }

        function eliminar(nombre, id, url) {
            $("#dialogoHabilitarMensaje").html('¿Está seguro que desea eliminar el colaborador "' + nombre + '" ?');
            $("#Habilitar").val(url);
            $("#ToastT").val('Eliminar colaborador');
            $("#ToastM").val('Se ha eliminado el colaborador "' + nombre + '" correctamente.');
            $("#Id").val(id);
            $('#dialogoHabilitarFuncionario').modal('show');
        }

        function resetearPassword(nombre, id, url) {
            $("#dialogoHabilitarMensaje").html('¿Está seguro que desea resetear la contraseña del usuario "' + nombre + '" ?');
            $("#Habilitar").val(url);
            $("#ToastT").val('Resetear contraseña');
            $("#ToastM").val('Se ha Reseteado la contraseña del colaborador "' + nombre + '" correctamente.');
            $("#Id").val(id);
            $('#dialogoHabilitarFuncionario').modal('show');
        }

        function deshabilitar(id, nombre, url) {
            $("#dialogoHabilitarMensaje").html('¿Está seguro que desea deshabilitar el colaborador "' + nombre + '" ?');
            $("#Habilitar").val(url);
            $("#ToastT").val('Deshabilitar colaborador');
            $("#ToastM").val('Se ha Deshabilitado el colaborador "' + nombre + '" correctamente.');
            $("#Id").val(id);
            $('#dialogoHabilitarFuncionario').modal('show');
        }

        function HabilitaroDeshabilitarFuncionario() {
            LimpiarMensaje();
            BloquearPantalla();
            $("#btn_cancelar").click();
            var SelectorCriterio = $('input:radio[name=radioStatus]:checked').val();
            $.ajax({
                url: $("#Habilitar").val(),
                cache: false,
                data: {
                    id: $("#Id").val(),
                    opcion: SelectorCriterio
                },
                type: "POST",
            }).complete(function () {
                DesbloquearPantalla();
            }).done(function (html) {
                showToast($("#ToastT").val(), $("#ToastM").val());
                $("#ContenedorLista").html(html);
                TableDatatablesRowreorder.init();
                DesbloquearPantalla();
            }).error(function (er) {
                MostrarMensaje(procesarErrorGenerico(er));
                DesbloquearPantalla();
            });
        }
    </script>
}

<div class="page-head">
    <div class="page-title">
        <h1>
            Colaboradores
            <small>Colaboradores</small>
        </h1>
    </div>
</div>
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="@Url.Action("Index", "Inicio")">Principal</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">Colaboradores</span>
    </li>
</ul>

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                @Html.Hidden("ToastT")
                @Html.Hidden("ToastM")
                @Html.Hidden("Habilitar")
                @Html.Hidden("Id")                
                <span class="labelsAzul">Estado</span>
                <div class="md-radio-inline">
                    <div class="md-radio">
                        <input onchange="ListarFuncionarios()" type="radio" id="rdnHabilitados" name="radioStatus" value="0" class="md-radiobtn">
                        <label for="rdnHabilitados">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span> Habilitados
                        </label>
                    </div>
                    <div class="md-radio">
                        <input onchange="ListarFuncionarios()" type="radio" id="rdnInhabilitados" name="radioStatus" value="1" class="md-radiobtn" checked>
                        <label for="rdnInhabilitados">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span> Deshabilitados
                        </label>
                    </div>
                    <div class="md-radio">
                        <input onchange="ListarFuncionarios()" type="radio" id="rdnTodos" name="radioStatus" value="2" class="md-radiobtn" checked="checked">
                        <label for="rdnTodos">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span> Todos
                        </label>
                    </div>
                </div>
                @{
                    if (NPermiso.TienePermisoEspecifico(HijosMenu, AccionPermiso.Crear))
                    {
                        @Html.ActionLink("Nuevo colaborador", "Colaborador", "colaborador", new { id = 0 }, new { @class = "btn btn-pink pull-right", @onclick = "BloquearPantalla();" })
                    }
                }
                <br />
                <br />
                <br />                
                <br />
                <br />
                <br />
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light ">
                    <div id="ContenedorLista" class="portlet-body">
                        @{
                            if (NPermiso.TienePermisoEspecifico(HijosMenu, AccionPermiso.Listar))
                            {
                                @Html.Partial("_ListadoColaboradores", Model)
                            }
                        }
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div><!--.panel-->
    </div><!--.col-md-12-->
</div><!--.row-->

<div class="modal scale fade" id="dialogoHabilitarFuncionario" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Diálogo de confirmación</h4>
            </div>
            <div class="modal-body">
                <span id="dialogoHabilitarMensaje"></span>
            </div>
            <div class="modal-footer">
                <button id="btn_cancelar" type="button" class="btn btn-flat btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-flat btn-primary" onclick="HabilitaroDeshabilitarFuncionario()">Aceptar</button>
            </div>
        </div><!--.modal-content-->
    </div><!--.modal-dialog-->
</div><!--.modal-->